/* This sheet contents styles for all pages or broken down individual which is commented. 
Please read each comment for each section.    */

/* Background image for all pages */

body {
  background-color: #d3d3d3;
}

/* Navbar logo style for all pages */
#navbar {
  background-color: #ef8354 !important;
}

.logo {
  padding: 0%;
  font-size: xx-large;
  font-weight: bold;
  font-family: serif;
}

/* Header style for all pages */

header {
  font-family: serif;
  color: #10067d;
}

/* Footer style for all pages */

.copyright {
  background-color: #ef8354;
  width: 100%;
  height: 85%;
  margin: 0%;
  color: #ffffff;
  align-items: center;
}

.copyright-border {
  background-color: #399c95;
  width: 100%;
  height: 15%;
  margin: 0%;
}

/* Portfolio Page - style for all images */
.portfolio-image {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

/* Contact Page - style  */

/* Submit button color change */
.btn-primary {
  background-color: #399c95 !important;
  border-color: #399c95 !important;
}
